@import url(./normalize.css);
@import url(./bulma.css);

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.login-form {
    margin-top: 3em;
}
.app-content {
    
}
.Header {
    padding: 2em 0em;
}
.generic-form {
    padding: 0em;
}